openai==1.30.1
streamlit==1.34.0
setx OPENAI_API_KEY "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"
